# Backend Configuration

PORT=5000
NODE_ENV=development

# Database
DATABASE_URL=./data/events.db

# JWT
JWT_SECRET=03KD93KRSRJE02UR293RJSPIJR092UOD
JWT_EXPIRY=7d

# CORS
CORS_ORIGIN=http://localhost:5173
